.post-header {
  padding: 10px 0;
  .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .user-nickname {
    font-weight: bold;
  }
  .user-geolocation {
    line-height: 15px;
    font-size: 12px;
  }
}
