.dashboard {

  &-header {
    background-color: #3f51b5;
    min-height: 60px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;
  }

  &-admin-icon {
    color: #fff;
    font-size: 2.6rem;
    margin-left: 35px;
  }

  &-heading {
    color: #fff!important;
    padding-top: 10px;
    border-bottom: 1px solid;
    height: 25px;
    font-size: 1.2rem!important;
    margin-left: 35px!important;
  }
  
  &-subheading {
    padding: 35px 0px 25px 0px;
    margin-left: 40px!important; 
    margin-top: -80px!important;   
  }
  
  &-table {
    width: 95%!important;
    margin: auto auto;
  }

  &-tablehead { 
    background-color: #e8e8e8;
  }

  &-menu-icon {
    color:#fff;
    font-size: 36px!important;
  }

  &-pagination-arrows {
    display: flex;    
  }

  &-status-cell {
    min-width: 135px;
  }
}
