.user-dashboard{
    margin-top: 100px;

    .user-nickname{
        font-weight: 200;
        font-size: 32px;
    }
    .all-infa{
        padding: 30px 0;
    }
    div span{
        font-weight: 600;
    }
    .followers {
        padding: 0 20px;
    }
     .user-avatar{
        width: 150px;
        height: 150px;
    }
    .user-name{
        font-weight: 600;
    }
    .location{
        padding: 10px 0;
        font-size: 14px;
    }
    .link{
        color: #003569;
        font-weight: 650;
    }
    .link:active{
        color: #C4CCD5;
    }
    .button-edit{
        margin-left: 10px;
    }
    .edit-button:hover{
        color: #003569;
    }

}
