.post {
  background-color: white;
  border: solid 1px $light-grey;
  margin-top: 40px !important;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .post-image {
    width: 100%;
  }
}
