.post {
  background-color: white;
  border: solid 2px $light-grey;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;

  .post-image {
    width: 100%;
  }
}
