.chat-window {
  width: 100%;
  height: 45vh;
  border: 1px solid $light-grey;
  border-radius: 2%;

  .message {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0 5px 5px;
    margin: 0;
    font-size: 14px;
  }

  .link {
    color: #000;
  }
}
