.edit-profile{
    margin-top: 100px;
        .nickname{
            font-weight: 200;
            font-size: 24px; 
        }
        .change-photo{
            color: #3897f0;
            font-weight: 500;
        }
        .change-photo:active{
            color: #C4CCD5;
        }
}
