@import url(./styles/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Titillium+Web:600i|Raleway:500");
.light-grey {
  color: #AEAEAE; }

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color;
  background-color: transparent;
  -webkit-text-fill-color: #000; }

.input-override {
  border-bottom: none; }
  .input-override div:before, .input-override div:after {
    border-bottom: none; }
  .input-override div:hover:before {
    border-bottom: none !important; }

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif; }

a {
  cursor: pointer;
  text-decoration: none; }

.sign-in {
  margin-top: 40px !important; }
  .sign-in .signin-container,
  .sign-in .signup-container_link {
    background-color: #fff;
    border: 1px solid #E6E6E6; }
  .sign-in .signup-container_link {
    margin: 10px auto 40px;
    padding: 20px 0 !important; }
  .sign-in h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 20px 0; }
  .sign-in .form {
    width: 100%; }
  .sign-in .submit-btn {
    margin: 10px auto 30px; }
  .sign-in .signin-icon {
    margin-right: 10px; }
  .sign-in .err-msg {
    margin: 0;
    text-align: center;
    color: #f34b4b;
    height: 20px; }

.sign-up {
  margin-top: 40px !important; }
  .sign-up .signup-container,
  .sign-up .login-container_link {
    background-color: #fff;
    border: 1px solid #E6E6E6; }
  .sign-up .login-container_link {
    margin: 10px auto 40px;
    padding: 20px 0 !important; }
  .sign-up h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 15px; }
  .sign-up .intro-text {
    font-size: 16px;
    font-weight: 500;
    text-align: center; }
  .sign-up .fb-btn {
    background-color: #4267B2;
    margin: 10px 0 15px; }
  .sign-up .fb-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; }
  .sign-up .divider {
    text-align: center;
    font-weight: 500; }
  .sign-up .submit-btn {
    margin: 10px auto 20px; }
  .sign-up .add-icon {
    margin-right: 10px; }
  .sign-up .msg {
    margin: 0;
    text-align: center;
    color: limegreen;
    height: 20px; }
  .sign-up .err-msg {
    color: #f34b4b; }

.post-footer svg {
  width: 30px;
  height: 30px;
  cursor: pointer; }

.post-footer .comment-icon {
  margin-left: 20px; }

.post-footer .likes-amount {
  font-weight: 500; }

.post-footer .likes-panel p {
  text-align: middle;
  vertical-align: middle; }

.post-footer .load-comments {
  cursor: pointer;
  margin: 0 0 9px; }

.post-footer .comment {
  margin: 0 0 7px 0; }

.post-footer .author-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600; }

.post-footer .author-comment {
  margin-left: 15px; }

.post-footer .date {
  margin: 10px 0; }

.post-footer .text-field {
  padding: 10px 0; }

.post-header {
  padding: 10px 0; }
  .post-header .user-avatar {
    margin-right: 20px; }
  .post-header .user-nickname {
    font-weight: bold; }
  .post-header .user-geolocation {
    line-height: 15px;
    font-size: 12px; }

.like {
  margin-left: auto; }
  .like .face-icon {
    fill: green; }
  .like .thumb-up-icon {
    fill: blue; }

.post {
  background-color: white;
  border: solid 1px #AEAEAE;
  margin-top: 40px !important; }
  .post .post-image {
    width: 100%; }

.feed-line {
  margin-top: 45px !important; }

.feed-aside {
  height: 85vh;
  position: fixed;
  right: 0px;
  margin-top: 85px !important; }
  .feed-aside .user-info {
    height: 10vh; }
  .feed-aside .user-avatar {
    width: 50px;
    height: 50px; }
  .feed-aside .user-nickname {
    margin: 0 0 0 15px;
    font-size: 25px; }
  .feed-aside .footer {
    height: 5vh; }

.chat {
  height: 65vh; }
  .chat .chat-header {
    margin: 5px auto;
    font-size: 18px; }
  .chat .msgs-wrapper {
    width: 100%;
    height: 45vh;
    border: 1px solid #AEAEAE;
    border-radius: 2%;
    overflow-y: auto;
    overflow-x: hidden; }
  .chat .message {
    width: 100%;
    margin: 5px;
    font-size: 14px; }
    .chat .message a {
      color: #000; }
  .chat .typing-logs {
    width: 100%;
    height: 4vh;
    border-top: 1px solid #AEAEAE;
    line-height: 4vh;
    vertical-align: middle; }
  .chat .typing-text {
    margin: 0 5px; }
  .chat .text-field_label {
    width: 100%;
    cursor: pointer; }
  .chat .text-field {
    width: 100%;
    border: 1px solid #AEAEAE;
    padding: 10px 0 10px 5px; }

.verify-page {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif; }
  .verify-page .spinner {
    color: #acbdac; }
  .verify-page .error {
    color: #ff5c5c; }
  .verify-page .err-icon {
    width: 50px;
    height: 50px; }

.user-dashboard {
  margin-top: 80px; }
  .user-dashboard .user-nickname {
    font-weight: 200;
    font-size: 32px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; }
  .user-dashboard .all-infa {
    padding: 30px 0; }
  .user-dashboard div span {
    font-weight: 600; }
  .user-dashboard .followers {
    padding: 0 20px; }
  .user-dashboard .user-avatar {
    width: 150px !important;
    height: 150px !important; }
  .user-dashboard .user-name {
    font-weight: 600; }
  .user-dashboard .location {
    padding: 10px 0;
    font-size: 14px; }
  .user-dashboard .link {
    color: #003569;
    font-weight: 650; }
  .user-dashboard .link:active {
    color: #C4CCD5; }
  .user-dashboard .MuiButton-fab-116 {
    width: 0;
    height: 0; }
  .user-dashboard .edit-button {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    padding-bottom: 10px;
    border-radius: 50%; }
  .user-dashboard .edit-button:hover {
    color: #003569; }

.form-error {
  color: red;
  font-size: 12px;
  padding-top: 5px;
  width: 170px; }

.header {
  height: 60px !important;
  position: fixed;
  background-color: #f7f7f7;
  margin-top: 30px !important;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 999; }
  .header .logo {
    background-image: url("./media//logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 26px;
    padding-left: 40px;
    padding-top: 3px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px; }
    .header .logo .logo-ident {
      font-weight: normal;
      font-style: normal;
      border-left: 2px solid;
      padding-left: 15px; }
  .header .extension-icon {
    font-size: 36px; }
