@import url(./styles/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Titillium+Web:600i|Raleway:500");
.light-grey {
  color: #AEAEAE; }

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color;
  background-color: transparent;
  -webkit-text-fill-color: #000; }

.input-override {
  border-bottom: none; }
  .input-override div:before, .input-override div:after {
    border-bottom: none; }
  .input-override div:hover:before {
    border-bottom: none !important; }

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif; }

a {
  cursor: pointer;
  text-decoration: none; }

.sign-in {
  margin-top: 40px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sign-in .signin-container,
  .sign-in .signup-container_link {
    background-color: #fff;
    border: 1px solid #E6E6E6; }
  .sign-in .signup-container_link {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto 40px;
    padding: 20px 0; }
  .sign-in h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 20px 0; }
  .sign-in .form {
    width: 100%; }
  .sign-in .submit-btn {
    margin: 10px auto 15px; }
  .sign-in .signin-icon {
    margin-right: 10px; }
  .sign-in .err-msg {
    margin: 0;
    text-align: center;
    color: #f34b4b;
    height: 20px; }

.sign-up {
  margin-top: 40px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sign-up .signup-container,
  .sign-up .login-container_link {
    background-color: #fff;
    border: 1px solid #E6E6E6; }
  .sign-up .login-container_link {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto 40px;
    padding: 20px 0; }
  .sign-up h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 15px; }
  .sign-up .intro-text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0; }
  .sign-up .divider {
    text-align: center;
    font-weight: 500;
    margin: 0 0 20px 0; }
  .sign-up .submit-btn {
    margin: 10px auto 20px; }
  .sign-up .add-icon {
    margin-right: 10px; }
  .sign-up .msg {
    margin: 0;
    text-align: center;
    color: limegreen;
    height: 20px; }
  .sign-up .err-msg {
    color: #f34b4b; }

.feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  .feed .upstairs-btn {
    position: fixed;
    bottom: 20px;
    left: 20px; }

.feed-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 67%;
  margin-top: 45px; }

.post {
  background-color: white;
  border: solid 2px #AEAEAE;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%; }
  .post .post-image {
    width: 100%; }

.feed-aside {
  display: flex;
  justify-content: center;
  width: 33%;
  height: 85vh;
  position: fixed;
  right: 0px;
  margin-top: 85px; }
  .feed-aside .user-info {
    height: 10vh; }
  .feed-aside .user-avatar {
    width: 50px;
    height: 50px; }
  .feed-aside .user-nickname {
    margin: 0 0 0 15px;
    font-size: 25px; }
  .feed-aside .footer {
    height: 5vh; }

.friend-list {
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  border: 2px solid #AEAEAE;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .friend-list .bottom-nav {
    background-color: #E0E0E0; }

.friend-item .exp-summary {
  padding: 0 15px; }

.friend-item .chip {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 16px; }

.friend-item .chip-offline,
.friend-item .chip-offline:hover,
.friend-item .chip-offline:focus {
  background-color: #9E9E9E; }

.friend-item .chip-online,
.friend-item .chip-online:hover,
.friend-item .chip-online:focus {
  background-color: #03A9F4; }

.friend-item .avatar {
  background-color: #4DD0E1;
  font-weight: bold;
  width: 32px;
  height: 32px; }

.friend-item .nickname {
  margin: 0 0 0 15px; }

.friend-item .badge {
  margin: 0 10px 0 auto; }
  .friend-item .badge path:first-child {
    fill: #0277BD; }

.friend-item .exp-details {
  display: flex;
  align-items: center; }

.friend-item .btn {
  height: 35px;
  padding: 0 5px;
  background-color: #4DD0E1; }

.friend-item .msgs-btn {
  margin-left: 15px; }

.friend-item .link {
  display: flex;
  align-items: center;
  height: 35px;
  color: #fff; }
  .friend-item .link svg {
    margin-left: 15px;
    color: #0277BD; }

.friend-item .favorite {
  margin-left: 40px; }

.verify-page {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif; }
  .verify-page .error {
    color: #ff5c5c; }
  .verify-page .err-icon {
    width: 50px;
    height: 50px; }

.user-dashboard {
  margin-top: 80px; }
  .user-dashboard .user-nickname {
    font-weight: 200;
    font-size: 32px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; }
  .user-dashboard .all-infa {
    padding: 30px 0; }
  .user-dashboard div span {
    font-weight: 600; }
  .user-dashboard .followers {
    padding: 0 20px; }
  .user-dashboard .user-avatar {
    width: 150px !important;
    height: 150px !important; }
  .user-dashboard .user-name {
    font-weight: 600; }
  .user-dashboard .location {
    padding: 10px 0;
    font-size: 14px; }
  .user-dashboard .link {
    color: #003569;
    font-weight: 650; }
  .user-dashboard .link:active {
    color: #C4CCD5; }
  .user-dashboard .MuiButton-fab-116 {
    width: 0;
    height: 0; }
  .user-dashboard .edit-button {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    padding-bottom: 10px;
    border-radius: 50%; }
  .user-dashboard .edit-button:hover {
    color: #003569; }

.user-posts {
  margin-top: 50px; }

.post-page {
  position: fixed;
  outline: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000000000000; }
  .post-page .icon {
    width: 50px;
    height: 50px; }
  .post-page .nav-btn {
    top: 30%;
    position: fixed; }
  .post-page .nav-btn-left {
    left: 10px; }
  .post-page .nav-btn-right {
    right: 10px; }
  .post-page .post-info {
    background-color: white;
    overflow-y: auto;
    display: inline-block;
    padding-left: 10px; }
  .post-page .top {
    margin-top: 50px; }
  .post-page img {
    max-width: 100%;
    max-height: 800px;
    object-fit: contain;
    display: block;
    box-sizing: border-box; }

.user-image {
  width: 33.3%;
  height: 300px;
  box-sizing: border-box;
  padding: 10px; }
  .user-image .photo-wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
    .user-image .photo-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .user-image .photo-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    cursor: pointer; }
    .user-image .photo-info em {
      font-style: normal;
      margin-right: 20px;
      margin-left: 5px; }
    .user-image .photo-info em:last-child {
      margin-right: 0; }
    .user-image .photo-info em:first-child {
      margin-left: 0; }
  .user-image .photo-info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1; }

.form-error {
  color: red;
  font-size: 12px;
  padding-top: 5px;
  width: 100%; }

.header {
  height: 60px !important;
  position: fixed;
  background-color: #f7f7f7;
  margin-top: 30px !important;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 999; }
  .header .logo {
    background-image: url("./media//logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 26px;
    padding-left: 40px;
    padding-top: 3px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px; }
    .header .logo .logo-ident {
      font-weight: normal;
      font-style: normal;
      border-left: 2px solid;
      padding-left: 15px; }
  .header .extension-icon {
    font-size: 36px; }

.loading-spinner {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 100px; }
  .loading-spinner .spinner {
    color: #acbdac; }

.post-footer svg {
  width: 30px;
  height: 30px; }

.post-footer .likes-amount {
  font-weight: 500; }

.post-footer .likes-panel {
  display: flex;
  align-items: center; }

.post-footer .load-comments {
  cursor: pointer;
  margin: 0 0 9px; }

.post-footer .comment {
  margin: 0 0 7px 0; }

.post-footer .author-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600; }

.post-footer .author-comment {
  margin-left: 15px; }

.post-footer .date {
  margin: 10px 0; }

.post-footer .text-field {
  padding: 10px 0; }

.post-header {
  padding: 10px 0; }
  .post-header .user-avatar {
    margin-right: 20px; }
  .post-header .link {
    color: #000; }
  .post-header .user-nickname {
    font-weight: bold; }
  .post-header .user-geolocation {
    line-height: 15px;
    font-size: 12px; }

#passport-btn {
  margin-bottom: 15px;
  padding: 0; }
  #passport-btn .facebook-icon,
  #passport-btn .google-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; }
  #passport-btn .facebook-icon {
    background: url("./media//fb-icon.svg") no-repeat 0 0; }
  #passport-btn .google-icon {
    background: url("./media//google-icon.svg") no-repeat 0 0; }
  #passport-btn a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
  #passport-btn span {
    height: 35px; }

#passport-btn.facebook-btn {
  background-color: #4267B2; }
  #passport-btn.facebook-btn:hover {
    background-color: #264074; }

#passport-btn.google-btn {
  background-color: #DD4D42; }
  #passport-btn.google-btn:hover {
    background-color: #a13830; }

.like {
  margin-left: auto; }
