@import url(./styles/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Titillium+Web:600i");
@import url("https://fonts.googleapis.com/css?family=Raleway");
.light-grey {
  color: #AEAEAE; }

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color;
  background-color: transparent;
  -webkit-text-fill-color: #000; }

.input-override {
  border-bottom: none; }
  .input-override div:before, .input-override div:after {
    border-bottom: none; }
  .input-override div:hover:before {
    border-bottom: none !important; }

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif; }

a {
  cursor: pointer;
  text-decoration: none; }

.sign-in {
  margin-top: 40px !important; }
  .sign-in .signin-container,
  .sign-in .signup-container_link {
    background-color: #fff;
    border: 1px solid #E6E6E6; }
  .sign-in .signup-container_link {
    margin: 10px auto 40px;
    padding: 20px 0 !important; }
  .sign-in h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 20px 0; }
  .sign-in .submit-btn {
    margin: 10px auto 30px; }
  .sign-in .signin-icon {
    margin-right: 10px; }
  .sign-in .err-msg {
    margin: 0;
    text-align: center;
    color: #f34b4b;
    height: 20px; }

.sign-up {
  margin-top: 40px !important; }
  .sign-up .signup-container,
  .sign-up .login-container_link {
    background-color: #fff;
    border: 1px solid #E6E6E6; }
  .sign-up .login-container_link {
    margin: 10px auto 40px;
    padding: 20px 0 !important; }
  .sign-up h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 15px; }
  .sign-up .intro-text {
    font-size: 16px;
    font-weight: 500;
    text-align: center; }
  .sign-up .fb-btn {
    background-color: #4267B2;
    margin: 10px 0 15px; }
  .sign-up .fb-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; }
  .sign-up .divider {
    text-align: center;
    font-weight: 500; }
  .sign-up .submit-btn {
    margin: 10px auto 20px; }
  .sign-up .add-icon {
    margin-right: 10px; }
  .sign-up .msg {
    margin: 0;
    text-align: center;
    color: limegreen;
    height: 20px; }
  .sign-up .err-msg {
    color: #f34b4b; }

.post-footer svg {
  width: 30px;
  height: 30px;
  cursor: pointer; }

.post-footer .comment-icon {
  margin-left: 20px; }

.post-footer .likes-amount {
  font-weight: 500; }

.post-footer .likes-panel p {
  text-align: middle;
  vertical-align: middle; }

.post-footer .load-comments {
  cursor: pointer;
  margin: 0 0 9px; }

.post-footer .comment {
  margin: 0 0 7px 0; }

.post-footer .author-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600; }

.post-footer .author-comment {
  margin-left: 15px; }

.post-footer .date {
  margin: 10px 0; }

.post-footer .text-field {
  padding: 10px 0; }

.post-header {
  padding: 10px 0; }
  .post-header .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 20px; }
    .post-header .user-avatar img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .post-header .user-nickname {
    font-weight: bold; }
  .post-header .user-geolocation {
    line-height: 15px;
    font-size: 12px; }

.like {
  margin-left: auto; }
  .like .face-icon {
    fill: green; }
  .like .thumb-up-icon {
    fill: blue; }

.post {
  background-color: white;
  border: solid 1px #AEAEAE;
  margin-top: 40px !important; }
  .post .post-image {
    width: 100%; }

.feed-aside {
  border: 1px solid red;
  height: 90vh;
  position: fixed;
  right: 0px;
  top: 40px; }
  .feed-aside .grid-inside {
    border: 1px dashed blue; }
  .feed-aside .user-info {
    border: 1px solid darkmagenta;
    height: 13vh; }
  .feed-aside .chat {
    border: 1px solid green;
    height: 40vh; }
  .feed-aside .footer {
    border: 1px solid darkmagenta;
    height: 20vh; }

.verify-page {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif; }
  .verify-page .spinner {
    color: #acbdac; }
